<app-home-page-search></app-home-page-search>

<div class="px-10">
    <app-home-page-categories></app-home-page-categories>

    <h2 class="text-2xl font-bold pt-10 py-5">Eventos populares
        em'localizacao'</h2>
    <app-home-page-event-list></app-home-page-event-list>

    <h2 class="text-2xl font-bold pt-20 py-5">Descubra os melhores eventos
        online</h2>
    <app-home-page-event-list></app-home-page-event-list>

    <h2 class="text-2xl font-bold p-5">Eventos hypados ao redor do mundo</h2>
    <app-home-page-event-list></app-home-page-event-list>
</div>

<div class="flex gap-x-10 justify-center items-center bg-gray-700 h-45">
    <div class="flex flex-col text-white font-bold">
        <h2 class="text-3xl">Que tal criar um evento com Eventify?</h2>
    </div>
    <button (click)="onclick()"
        class="bg-amber-300 rounded-2xl text-white font-bold h-10 w-40 hover:bg-amber-200 cursor-pointer">
        Criar
        Evento
    </button>
</div>