<footer class="flex flex-col items-center bg-gray-900 h-75 text-white">
    <div class="flex justify-around gap-x-10 py-10">
        <div class="flex flex-col items-start">
            <h2 class="text-xl mb-3">Nossa empresa</h2>
            <button>Sobre nós</button>
            <button>Contato</button>
            <button>Carreiras</button>
            <button>FAQ</button>
            <button>Termos de serviço</button>
            <button>Políticas de privacidade</button>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-xl mb-3">Ajuda</h2>
            <button>Suporte</button>
            <button>Listagem de eventos</button>
            <button>Ticketing de eventos</button>
            <button>Termos e condições de compra</button>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-xl mb-3">Categorias</h2>
            <button>Entretenimento</button>
            <button>Educação e Negócios</button>
            <button>Arte e Cultura</button>
            <button>Esportes e Fitness</button>
            <button>Tecnologia e Inovação</button>
            <button>Viagens e Aventuras</button>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-xl mb-3">Mídia social</h2>
            <button>Facebook</button>
            <button>Instagram</button>
            <button>X</button>
            <button>Youtube</button>
        </div>
    </div>
    <div>
        <h3>&copy; 2025 EventosApp. Todos os direitos reservados</h3>
    </div>
</footer>