<header class="flex justify-between">
    <!-- logo da empresa -->
    <img src="" alt="logo_eventos">
    <!-- guias -->
    <div class="flex gap-3">
        <a routerLink="/home">Home</a>
        <a routerLink="/home">Eventos</a>
        <button>Sobre</button>
        <button>Contato</button>
    </div>
    <!-- funcoes do usuario -->
    <div class="flex gap-3">
        <a routerLink="/create-event">Criar evento</a>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/signup">Se inscrever</a>
    </div>
</header>