<div class="flex h-dvh bg-gray-900">
    <!-- CARD DO SISTEMA -->
    <div class="basis-2/4">
        <div class="flex h-40">
            <img src="assets/images/logo.svg" alt="EventosApp" class="pl-4 pt-4">
        </div>
        <div class="pt-40 pl-4 text-white font-bold">
            <h2 class="text-5xl">Cadastre-se hoje para participar dos melhores eventos do mundo</h2>
        </div>
        <div>

        </div>
    </div>
    <!-- AREA DE LOGIN/CADASTRO -->
    <div class="flex flex-col items-center justify-center basis-2/4 bg-white rounded-l-4xl">
        <!-- <app-authentication-page-signup></app-authentication-page-signup> -->
         <router-outlet></router-outlet>
    </div>
</div>